<div class="sixteen about ">
  <div class="nine alpha">
    <p><strong>Aleksandar Diklić</strong> (born 27 December 1991), often called by nickname Sale (Saša), student,  young freelance web developer from Novi Sad, Serbia. Interested in technology, photography, minimalism, travel, music.</p>
    <p><strong>Speaks:</strong> <br>
      Serbian, English, Croatian, Hungarian (passive) <br>
    </p>
    <p><strong>Skills:</strong> <br>
      Windows  /  GNU/Linux <br>
      HTML5 / CSS3 / XML / JavaScript / jQuery / MySQL <br>
      PHP (basics) / Ruby / RubyOnRails / Sinatra<br>
    </p>
    <br>
    <strong>Contents:</strong>
    <ul class="square">
      <li>
        <a href="#life" >1. early and personal life</a>
      </li>
      <li>
        <a href="#future">2. what i think i will do (a.k.a future)</a>
      </li>
      <li>
        <a href="#actually">3. what i actually do</a>
        <ul class="circle">
          <li><a href="#programing" >3.1 programing</a></li>
          <li><a href="#photography" >3.2 photography</a></li>
          <li><a href="#writing">3.3 writing</a></li>
        </ul>
      </li>
      <li>
        <a href="#blogs" >4. what i have to say about this blog</a>
      </li>
      <li>
        <a href="#recommend">5. i recommend to you</a>
      </li>
      <li>
        <a href="#contact">6. how you can contact me</a>
      </li>
        <ul class="circle">
          <li><a href="#social" >6.1 social networks</a></li>
          <li><a href="#coffee">6.2 buy me a coffee</a></li>
        </ul>
    </ul>
  </div>
  <div class="seven omega">
    <img src="/images/about.png" alt="picture of author">
    <p><strong>Country:</strong> Serbia (1991-present) <br>
      <strong>Residence:</strong> Novi Sad, Serbia <br>
      <strong>Born:</strong> 27 Dec 1991 (age 21) <br>
          Novi Sad, SR Serbia, SFR Yugoslavia <br>
      <strong>Nationality:</strong> Serbian <br>
      <strong>Other names:</strong> Lesa_ns, RastaSheep <br>
      <strong>Height:</strong> 1.85 m <br>
      <strong>Weight:</strong> I don't know that <br>
      <strong>Alma mater:</strong> FACULTY OF SCIENCES  <br>
            University of Novi Sad</p>
  </div>
  <br class="clear" />
  <hr>
  
  <div class="sixteen">
    <h3 id="life">Early and personal life</h3>
    <p>Born and raised in Novi Sad, Serbia, in very difficult time for whole country, not only for people with little kids. Civil war, later NATO bombarding in 1999, born in one country now living in fifth or sixth country (sorry if i missed some) and that all in same city. Maybe that sounds familiar to you, maybe not, but i think i am happy. My childhood was a little different then other children in other parts of the world, but i don't mind. Everything comes and goes, but future still need to come and best thing is to try that the future be as we want to be, don't sit and wait, stand up and create it. Other things from my persona life is not so interesting and i will skip them i you don't mind, if you really want to know something, just ask.</p>
    <br>
    <hr>  
    <h3 class="future">What i think i will do (a.k.a future)</h3>
    <p>My future plan is very simple, i would like to work only on things that i love. Currently that is web development, particularly <a href="http://ruby-lang.org">ruby programing language</a> (ruby is great!), photography is great hobby too, one day maybe something more then just hobby, you never know ;)</p>
    <br>
    <hr>
    <h3 id="actually">What i actually do</h3>
    <p>I am <a href="http://en.wikipedia.org/wiki/Geek">geek</a>, passionate about a lot of things, programing, photography and writhing are just some of them. Real geek must know everything ;)</p>
        <h4 id="programing">programing</h4>
    <p>Currently i study information technology on University of Novi Sad. Beside of that i love freelancing, building websites and learning new technologies. I am big fan of <a href="http://en.wikipedia.org/wiki/Open-source_software_movement">open source movement</a> and i am trying to be part of open source community as much as i can. Also i think that sharing that ideology with others and convincing them that community can do a lot of things better than individual person or closed group of individuals are important thing and we all can help with that. You can find my projects on <a href="http://github.com/rastasheep">my github page</a>, and i encourage you to become part of open source family, of course i can help you with that as much as i can.</p>
        <h4 id="photography">photography</h4>
    <p>First thing i want to tell you that i am not a photographer. Many people today have dSLR-s or cameras like that (including old analog cameras), and they think that they are photographers. Just because of that one possession, i don't want to be them, i am just another geek with camera, simple as that. If you like photos on my blog, nice there will be more of them soon ;) if you don't like them, sorry for your wasted time, there is no room for negative energy.</p> 
        <h4 id="writing">writing</h4>
    <p>As big fan of open source philosophy and <a href="http://en.wikipedia.org/wiki/GNU/Linux">GNU/Linux</a> movement, i write about about Linux applications in one of oldest Serbian magazine about technology named "<a href="http://www.sk.rs">Svet kompjutera</a>" (World of computers). Before that i wrote on several blogs, about free software and free culture stuff. Unfortunately several my blog are not alive today, mostly because i am very lazy when i need to write something, thats sad but maybe one day i will get time to write more frequently.</p>  
    <br>
    <hr>
    <h3 id="blog">What i have to say about this blog</h3>
    <p>This blog is nothing special, i don't have big ambition on it, or plan to blog about photography in theory or something like that. Idea is born when i got my first dSLR camera (<a href="http://en.wikipedia.org/wiki/550D">canon 550d</a>), i just wanted to have one place where i can show off my photos, not only on social networks, one unique home. As you see, design is very minimal, and that decision make short on some "standard" things, but if you love what i do, you will share without that fancy share/like buttons, that's my simple philosophy. In other hand i don't want to get big audience, count likes beg for share and that things, for me best deal is small passionate audience, with these people a life is worth living  and they deserve it  ;)
    On technical things this blog is built with one simple goal, to learn and try to make my first application written with ruby and <a href="http://sinatrarb.com">sinatra framework</a>. Logic is very simple, app use Google picasa api to get images from my Google plus blog and portfolio albums and represent it here with some improvements, like RSS feed, minimalistic interface with no distractions etc. Project is under open source license, feel free to <a href="https://github.com/rastasheep/PhotoLog">check code at my github</a> account, if you like it or have some suggestions please share that with me i will appreciate it. Any questions are welcome too. App is deployed on <a href="http://heroku.com">Heroku</a>, best place to deploy ruby/rails application, btw this is not payed advertisement, this is my way to say thanks to guys that keep things running, great work ;)</p>
    <br>
    <hr>  
    <h3 id="recommend">I recommend to you</h3>
    <p>Here is some people that i really love to read, and spend time with them, check it out and see that they are not randomly chosen. You have recommendation for me? Nice to hear that, you can contact me and i will appreciate that very much.</p>
    
    <blockquote>
      <p>My bro.<br>
      Young ambitious photographer, activist, very creative person .. in one word, ninja who loves action and he will find it even on laziest day on the world, it be sure in that.<br>
      Beside that he currently lives in Novi Sad, he love jungles and usually you can find me jumping around with the camera.</p>
      <cite><a href="http://www.sivinjski.com/">Danijel Šivinjski</a></cite>
    </blockquote>
    
    <blockquote>
      <p>I newer meet this guy, i just founded his blog on Internet, but i can say that he shoot THE best street photos i ever see, really. I found out that he study academy of fine arts and live in Vienna. Person i would like to meet.</p>
      <cite><a href="http://severinkoller.at/blog/">Severin Koler</a></cite>
    </blockquote>
    
    <blockquote>
      <p>Next two persons you maybe already know. First "celebrity" is Chase, well known as a visionary photographer, director, and fine artist. Very inspiring person, check his work and see what i talking about. P.S. check his chasejarvisLive project #veryinspiring</p>
      <cite><a href="www.chasejarvis.com">Chase Jarvis</a></cite>
    </blockquote>
    
    <blockquote>
      <p>Next on list is Tray, he is also very popular among the photographers. Travel photographer, HDR pioneer, great bloger. He is awesome, if you not following his work/blog you must, there is no words that can describe that, try its worth.</p>
      <cite><a href="www.stuckincustoms.com/">Trey Ratcliff</a></cite>
    </blockquote>
    
    <blockquote>
      <p>Joshua and Ryan write essays about minimalism and living a meaningful life with less stuff on their blog TheMinimalists. Their Mission is to contribute to other people in meaningful ways and share the freedom that minimalism provides. Very inspiring story told by two great guys, great storytellers. If you love minimalism you will love them.</p>
      <cite><a href="theminimalists.com">Joshua Fields Millburn and Ryan Nicodemus = the minimalists</a></cite>
    </blockquote>
    
    <blockquote>
      <p>Another minimalist.Simplicity author.Creator of Zen Habits and mnmlist, author of Focus and The Power of Less. His blogs are great not only for minimalists but for everybody. Just check him, simple as that ;)</p>
      <cite><a href="http://zenhabits.net/">Leo Babuta</a></cite>
    </blockquote>
    <br>
    <hr>
    <h3 id="contact">How you can contact me</h3> 
    <p>There is plenty way you can contact me, god thing about that is that you can chose. I am really active on mainstream social networks, not because of they mainstream success, but i really love networking, since IRC times (i still have good friends that i met that way, and this is good opportunity to say hi to them :)) People are social, with world wide web or without it, and that's fact, there is no way to skip that part of our lives.</p>
      
      <h4 id="social">social networks</h4>
    <p>You can find me on <a href="http://fb.me/RastaSheep">Facebook</a>, <a href="http://twitter.com/lesa_ns">Twitter</a>, <a href="https://plus.google.com/109490003681682232613/posts">Google plus</a>, or if you <a href="mailto:rastasheep@gmail.com">prefer email</a>, either of that ways is just ok and i will respect your choice, and i will answer you shortly ;)</p>

      <h4 id="coffee">buy me a coffee</h4>
    <p>If you prefer old way of communication, just like in old time, face to face, we can meet and have a coffee, beer or something else. I love meeting new people, and connect avatars with real human faces.</p>
    <center><h4>See you soon and thanks for visiting ;)</h4></center>
  </div>
</div>