<div class="sixteen about ">
  <div class="nine alpha">
    <p><strong>Aleksandar Diklić</strong> (born 27 December 1991), often called by nickname Sale (Saša), student,  young freelance web developer from Novi Sad, Serbia. Interested in technology, photography, minimalism, travel, music.</p>
    <p><strong>Speaks:</strong> <br>
      Serbian, English, Croatian, Hungarian (passive) <br>
    </p>
    <p><strong>Skills:</strong> <br>
      Windows  /  GNU/Linux <br>
      HTML5 / CSS3 / XML / JavaScript / jQuery / MySQL <br>
      PHP (basics) / Ruby / RubyOnRails / Sinatra<br>
    </p>
    <br>
    <strong>Contents:</strong>
    <ul class="square">
      <li>
        <a href="#life" >1. early and personal life</a>
      </li>
      <li>
        <a href="#future">2. what I would like to do (a.k.a future)</a>
      </li>
      <li>
        <a href="#actually">3. what i actually do</a>
        <ul class="circle">
          <li><a href="#programing" >3.1 programing</a></li>
          <li><a href="#photography" >3.2 photography</a></li>
          <li><a href="#writing">3.3 writing</a></li>
        </ul>
      </li>
      <li>
        <a href="#blog" >4. what i have to say about this blog</a>
      </li>
      <li>
        <a href="#recommend">5. my recommendations </a>
      </li>
      <li>
        <a href="#contact">6. contact me</a>
      </li>
        <ul class="circle">
          <li><a href="#social" >6.1 social networks</a></li>
          <li><a href="#coffee">6.2 buy me a coffee</a></li>
        </ul>
    </ul>
  </div>
  <div class="seven omega">
    <img src="/images/about.png" alt="picture of author">
    <p><strong>Country:</strong> Serbia (1991-present) <br>
      <strong>Residence:</strong> Novi Sad, Serbia <br>
      <strong>Born:</strong> 27 Dec 1991 (age 21) <br>
          Novi Sad, SR Serbia, SFR Yugoslavia <br>
      <strong>Nationality:</strong> Serbian <br>
      <strong>Other names:</strong> Lesa_ns, RastaSheep <br>
      <strong>Height:</strong> 1.85 m <br>
      <strong>Weight:</strong> I don't know that <br>
      <strong>Alma mater:</strong> FACULTY OF SCIENCES  <br>
            University of Novi Sad</p>
  </div>
  <br class="clear" />
  <hr>
  
  <div class="sixteen">
    <h3 id="life">Early and personal life</h3>
    <p>Born and raised in Novi Sad, Serbia, in a very difficult time for the whole country, not only for people with little kids. First years of civil war, later NATO bombing in 1999. Born in one country, now living in the fifth or sixth (sorry if I missed any), and all that in the same city. My childhood was a bit different, but it doesn't bother me. Everything comes and goes, but the future is always ahead of us and the best thing is to create it the way we want it - not just sit and wait, get up and make it happen. Other things from my personal life are not too interesting, but, if you have any questions, feel free to ask. </p>
    <br>
    <hr>  
    <h3 id="future">What I would like to do (a.k.a future)</h3>
    <p>My future plan is very simple - I would like to work on the things I love. At the moment, that is web development, particularly <a href="http://ruby-lang.org">ruby programing language</a> (ruby is great!), photography is also one of my big hobbies, one day maybe something more than just a hobby, you never know ;)</p>
    <br>
    <hr>
    <h3 id="actually">What i actually do</h3>
    <p>I am <a href="http://en.wikipedia.org/wiki/Geek">geek</a>. Passionate about a lot of things - programming, photography and writing are just some of them. A real geek must know everything. ;)</p>
        <h4 id="programing">programing </h4>
    <p>Currently, I am studying Information Technology at University of Novi Sad. Apart from that, I love freelancing, building websites and learning new technologies. I am big fan of the <a href="http://en.wikipedia.org/wiki/Open-source_software_movement">open source movement</a> and I am trying to be part of the open source community as much as I can. I also think that sharing the ideology with others and showing them how a community can do a lot of things better than individuals or closed groups, are an important thing and we all can help. You can find my projects on <a href="http://github.com/rastasheep">my github page</a>, and i encourage you to become part of open source family, of course i can help you with that as much as i can.</p>
        <h4 id="photography">photography</h4>
    <p>The first thing I want to tell you is that I am not a photographer. Many people today have dSLR-s or cameras like that (including old analog cameras), and they think that they are photographers.  Just because of that one possession, I don't want to be them. I am just another geek with a camera - simple as that. If you like the photos on my blog, nice, there will be more of them soon. ;) If you don't like them, sorry for your wasted time, there is no room for negative energy.</p> 
        <h4 id="writing">writing</h4>
    <p>As a big fan of open source philosophy and <a href="http://en.wikipedia.org/wiki/GNU/Linux">GNU/Linux</a> movement, I write about about Linux applications in one of oldest Serbian magazines about technology named "<a href="http://www.sk.rs">Svet kompjutera</a>" (World of computers). Before that, I wrote on several blogs about free software and free culture stuff. Unfortunately, several of my blogs are not alive anymore, mostly because I'm very lazy when it comes to writing something. That's sad, but maybe, one day I will have more time to write more frequently.</p>  
    <br>
    <hr>
    <h3 id="blog">What i have to say about this blog</h3>
    <p>This blog is nothing special, I don't have big expectations on it, or plan to blog about photography in theory or anything like that. Idea was born when I got my first dSLR camera (<a href="http://en.wikipedia.org/wiki/550D">canon 550d</a>). I wanted to have one place where I could show off my photos, not only on social networks, one unique home. As you can see, the design is very minimal, because of which some "standard" things had to be cut out. But, if you love what I do, you will share my work without those fancy share/like buttons. That's my simple philosophy. In the other hand, I don't want to get a big audience, count likes or beg for shares. For me, the best deal is a small passionate audience. With these people a life is worth living and they deserve it. ;)
    On technical side this blog was built with one simple goal: to learn and try to make my first application written in ruby and <a href="http://sinatrarb.com">sinatra framework</a>. The logic is very simple, the app uses Google picasa api to get images from my Google plus blog and portfolio albums and represent it here with some improvements, like RSS feed, minimalistic interface with no distractions etc. The project is under open source license, feel free to <a href="https://github.com/rastasheep/PhotoLog">check code at my github</a> account, if you like it or have some suggestions please share that with me i will appreciate it. Any questions are welcome too. App is deployed on <a href="http://heroku.com">Heroku</a>, best place to deploy ruby/rails application, btw this is not payed advertisement, this is my way of saying thanks to the guys that keep things running, great work ;)</p>
    <br>
    <hr>  
    <h3 id="recommend">My recommendations</h3>
    <p>Here are some people that i really love to read, and spend time with, check them out and see that they are not randomly chosen. You have recommendation for me? Great, you can contact me, I will appreciate it a lot.</p>
    
    <blockquote>
      <p>My bro.<br>
      Young ambitious photographer, activist, very creative person .. simply  ninja who loves action and he will find it even on the laziest day in the world, no doubt about it.<br>
      Besides that he currently lives in Novi Sad, he loves jungles and you can usually find him jumping around with the camera.</p>
      <cite><a href="http://www.sivinjski.com/">Danijel Šivinjski</a></cite>
    </blockquote>
    
    <blockquote>
      <p>I newer met this guy, i just founded his blog on the Internet, but I can say that he shoots THE best street photos i have ever seen, really. I found out that he studying at the academy of fine arts and lives in Vienna. Person I would like to meet.</p>
      <cite><a href="http://severinkoller.at/blog/">Severin Koler</a></cite>
    </blockquote>
    
    <blockquote>
      <p>Next two people you maybe already know. First "celebrity" is Chase, well known as a visionary photographer, director, and fine artist. Very inspiring person, check his work and see what I'm talking about. P.S. check his chasejarvisLive project #veryinspiring</p>
      <cite><a href="www.chasejarvis.com">Chase Jarvis</a></cite>
    </blockquote>
    
    <blockquote>
      <p>Next on the list is Tray. He is also very popular among the photographers. Travel photographer, HDR pioneer, great bloger. He is awesome, if you're not following his work/blog you must, there is no words that can describe his work, check him.</p>
      <cite><a href="www.stuckincustoms.com/">Trey Ratcliff</a></cite>
    </blockquote>
    
    <blockquote>
      <p>Joshua and Ryan write essays about minimalism and are living a meaningful life with less stuff on their blog TheMinimalists. Their Mission is to contribute to other people in meaningful ways and share the freedom that minimalism provides. A very inspiring story told by two great guys, great storytellers. If you love minimalism, you will love them.</p>
      <cite><a href="theminimalists.com">Joshua Fields Millburn and Ryan Nicodemus = the minimalists</a></cite>
    </blockquote>
    
    <blockquote>
      <p>Another minimalist.Simplicity author.Creator of Zen Habits and mnmlist, author of Focus and The Power of Less. His blogs are great not only for minimalists but for everybody. Just check him out, simple as that ;)</p>
      <cite><a href="http://zenhabits.net/">Leo Babuta</a></cite>
    </blockquote>
    <br>
    <hr>
    <h3 id="contact">Contact me</h3> 
    <p>There are plenty ways you can contact me, good thing about that is that you can chose. I am really active on mainstream social networks, not because of their mainstream success, but because I really love networking, since IRC times  (I still have good friends that I met that way, and this is a good opportunity to say hi to them :)) People are social, with world wide web or without it, and that's a fact, there is no way to skip that part of our lives.</p>
      
      <h4 id="social">social networks</h4>
    <p>You can find me on <a href="http://fb.me/RastaSheep">Facebook</a>, <a href="http://twitter.com/lesa_ns">Twitter</a>, <a href="https://plus.google.com/109490003681682232613/posts">Google plus</a>, or if you <a href="mailto:rastasheep@gmail.com">prefer email</a>. I will respect your choice, and  answer you shortly ;)</p>

      <h4 id="coffee">buy me a coffee</h4>
    <p>If you prefer the old fashioned way of communication, face to face, we can meet up, have a cup of coffee, beer or something else. I love meeting new people and connecting avatars with real human faces.</p>
    <center><h4>See you soon and thanks for visiting ;)</h4></center>
  </div>
</div>