@import "base";
@import "skeleton";
@import "lightbox";

.container{
	@include container;
	@include clearfix;
}
.sixteen{
	@include columns(16);
}

article{
	text-align: center;
	padding-bottom:50px;
	h5>a {
		text-decoration:none;
	}
	img:hover{
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter:alpha(opacity=5);
	}
	img{	
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		border-radius: 11px;
		-webkit-box-shadow: 3px 4px 6px rgba(0,0,0,.3);
		-moz-box-shadow: 3px 4px 6px rgba(0,0,0,.3);
		box-shadow: 3px 4px 6px rgba(0,0,0,.3);
	}
}
.social{
	text-align: center;
}
@mixin social {
	display: inline-block;
	text-decoration: none;
	width: 32px;
	height: 32px;	
}

.twitter{
	background: url('/images/social.png') no-repeat 0 0;
	@include social;
}
.gplus{
	background: url('/images/social.png') no-repeat -68px 0;
	@include social;
}
.facebook{
	background: url('/images/social.png') no-repeat -34px 0;
	@include social;
}
.email{
	background: url('/images/social.png') no-repeat -34px -33px;
	@include social;
}
.rss{
	background: url('images/social.png') no-repeat 0 -33px;
	@include social;
}
.github{
	background: url('images/social.png') no-repeat -68px -33px;
	@include social;
}
footer{
	text-align: center;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
	padding-bottom:50px;
}