@import "base";
@import "skeleton";
@import "lightbox";

.container{@include container;@include clearfix;}
.sixteen{@include columns(16);}
.seven {@include columns(7);}
.nine {@include columns(9);}
.clear{@include clear;}
.alpha{@include alpha}
.omega{@include omega}

@mixin border-radius-shadow {
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-shadow: 3px 4px 6px rgba(0,0,0,.3);
	-moz-box-shadow: 3px 4px 6px rgba(0,0,0,.3);
	box-shadow: 3px 4px 6px rgba(0,0,0,.3);
}
body{
	background-image: url("/images/background.png");
}

article{
	text-align: center;
	padding-bottom:50px;
	h5>a {
		text-decoration:none;
	}
	img:hover{
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter:alpha(opacity=5);
	}
	img{	
		@include border-radius-shadow;
	}
}
.pagination{
	@extend .sixteen;
	text-align: center; 
	display: none;
}
.social{
	text-align: center;
}
@mixin social {
	display: inline-block;
	text-decoration: none;
	width: 32px;
	height: 32px;	
}

.twitter{
	background: url('/images/social.png') no-repeat 0 0;
	@include social;
}
.gplus{
	background: url('/images/social.png') no-repeat -68px 0;
	@include social;
}
.facebook{
	background: url('/images/social.png') no-repeat -34px 0;
	@include social;
}
.email{
	background: url('/images/social.png') no-repeat -34px -33px;
	@include social;
}
.rss{
	background: url('images/social.png') no-repeat 0 -33px;
	@include social;
}
.github{
	background: url('images/social.png') no-repeat -68px -33px;
	@include social;
}
footer{
	text-align: center;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
	padding-bottom:50px;
}
.about{
	text-align: justify;
}

hr{ 
    height: 1px;
    border:none;
    background: #ddd;
    width:100%;
    background: -webkit-gradient(linear, 0 0,100% 0, from(rgba(50,50,50,0.01)),to(rgba(80,80,80,0.01)), color-stop(.5,#c9c9c9));
    background: -moz-linear-gradient(left, rgba(0,0,0,0.001) 0%, rgba(201,201,201,1) 50%, rgba(0,0,0,0.001) 100%);
    background:-o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}