@import "base";
@import "skeleton";
@import "lightbox";

@font-face {
  font-family: 'Socialico';
  font-style: normal;
  font-weight: normal;
  src: local('Socialico'), url("/images/Socialico.ttf") format('truetype');
}
.container{@include container;@include clearfix;}
.sixteen{@include columns(16);}
.seven {@include columns(7);}
.nine {@include columns(9);}
.clear{@include clear;}
.alpha{@include alpha}
.omega{@include omega}

@mixin border-radius-shadow($top, $left, $blur) {
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-shadow: $top $left $blur rgba(0,0,0,.3);
	-moz-box-shadow: $top $left $blur rgba(0,0,0,.3);
	box-shadow: $top $left $blur rgba(0,0,0,.3);
}
body{
	background-image: url("/images/background.png");
	text-align: center;
}

#content{
	padding-top: 30px;
}

.title{
	margin: 40px 0 20px 0;
}

article{
	padding-bottom:50px;
	h5>a {
		text-decoration:none;
	}
	img:hover{
		@include border-radius-shadow(6px, 8px, 12px)
	}
	img{	
		@include border-radius-shadow(3px, 4px, 6px);
	}
}
.pagination{
	@extend .sixteen;
	display: none;
}

.social{
	font-family: 'Socialico';
	position: fixed;
	left: 3px;
	width: 20px;
	top: 20%;
}
@mixin social {
	display: inline-block;
	text-decoration: none;
	font-size: 52px;
	line-height: 38px;
}

.twitter{
	@include social;
}
.twitter:before{
	content: "l";
}
.gplus{
	@include social;
}
.gplus:before{
	content: "1";
}
.facebook{
	@include social;
}
.facebook:before{
	content: "f";
}
.email{
	@include social;
}
.email:before{
	content: "$";
}
.rss{
	@include social;
}
.rss:before{
		content: "r";
}

footer{
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
	padding-bottom:50px;
}
.about{
	text-align: justify;
}

hr{ 
    height: 1px;
    border:none;
    background: #ddd;
    width:100%;
    background: -webkit-gradient(linear, 0 0,100% 0, from(rgba(50,50,50,0.01)),to(rgba(80,80,80,0.01)), color-stop(.5,#c9c9c9));
    background: -moz-linear-gradient(left, rgba(0,0,0,0.001) 0%, rgba(201,201,201,1) 50%, rgba(0,0,0,0.001) 100%);
    background:-o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}

h1:before, h1:after{
	content: '・';
}
.active{
	font-weight:bold;
}